.top-bar {
    background-color:#396598;
    display: block;
    height: 40px;
    padding: 20px;
    color: #FFF;
    @media (min-width: 768px) {
      display: block;
    }
  }
  .social-icons{
      float: right;
      margin-right: 20px;
  }
  
  .social-icons a{
    color:#FFF;
    margin-right: 20px;
    font-size: 25px;
  }
 